header {
  padding-top: 10px;
  .header_top {
    padding: 16px 0;

    &_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &_label {
      display: flex;
      column-gap: 10px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #100e0e;

      select {
        display: flex;
        border: none;
        outline: none;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #0071e4;
      }
    }
  }

  .header_middle {
    padding-top: 25px;
    padding-left: 5px;
    padding-bottom: 16px;
    &_wrapper {
      display: flex;
      justify-content: space-between;
    }

    &_list {
      display: flex;
      align-items: center;
      list-style: none;
      column-gap: 20px;
    }

    &_list_item {
      &:nth-child(2) {
        .header_middle_list_item_link {
          display: flex;
          align-items: center;
          column-gap: 7px;
          background: #fdefbf;
          border-radius: 8px;
          padding: 3px 8px;
        }
      }
      &:nth-child(9) {
        .header_middle_list_item_link {
          display: flex;
          align-items: center;
        }
      }
    }
    &_list_item_link {
      text-decoration: none;
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      color: #100e0e;

      span::after {
        display: block;
        content: "";
        margin-top: 3px;
        border-bottom: 2px solid transparent;
        border-radius: 4px;
        height: 0;
        width: 0;
        transform: scaleX(0);
        transform-origin: center bottom;
        transition: transform 0.3s;
      }

      span:hover::after {
        border-bottom-color: #0071e4;
        width: 100%;
        transform: scaleX(1);
      }

      &:hover {
        color: #0071e4;
      }
    }
    .callback {
      display: flex;
      justify-content: end;
      a {
        color: #0071e4;
      }
    }
  }

  .header_before {
    padding-top: 22px;
    &_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 215px;
      height: 56px;
      background: #0071e4;
      border-radius: 16px;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: #ffffff;
      border: none;
      cursor: pointer;

      &:active{
        background: #9747FF
      }
      
    }

    .search_box {
      position: relative;
      input {
        width: 594px;
        height: 56px;
        border: 1px solid #b7b7b7;
        border-radius: 8px;
        padding-left: 58px;
      }
      img {
        position: absolute;
        top: 30%;
        left: 3%;
      }
    }

    .img_box {
      width: 339px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 3px;
        border: none;
        width: 215px;
        height: 56px;
        background: #52d116;
        border-radius: 16px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #ffffff;
        cursor: pointer;
      }
    }
  }

  .header_end {
    padding-top: 30px;

    &_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      ul {
        display: flex;
        align-items: center;
        list-style: none;
        column-gap: 20px;
        li {
          cursor: pointer;
          &:hover svg path,
          &:hover svg rect {
            stroke: #0071e4;
          }
          &:hover p {
            color: #0071e4;
          }
          p {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }

  .header_resp {
    display: none !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .icon_input {
      display: flex;
      align-items: center;
      column-gap: 39px;

      .search_box {
        position: relative;
        display: flex;
        align-items: center;
        input {
          width: 285px;
          height: 56px;
          // border: 1px solid #b7b7b7;
          // border-radius: 8px;
          padding-left: 45px;
          border: none;
        }
        img {
          position: absolute;
          top: 30%;
          left: 3%;
        }
      }
    }

    .phone_menu {
      display: flex;
      align-items: center;
      column-gap: 44px;
      .hamburger-menu {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        cursor: pointer;
      }

      .line {
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #000;
        border-radius: 3px;
        transition: all 0.3s ease-in-out;
      }

      .line:nth-child(1) {
        top: 0;
      }

      .line:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }

      .line:nth-child(3) {
        bottom: 0;
      }

      .hamburger-menu.open .line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }

      .hamburger-menu.open .line:nth-child(2) {
        opacity: 0;
      }

      .hamburger-menu.open .line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  header {
    .header_top {
      display: none !important;
    }
    .header_middle {
      display: none !important;
    }
    .header_before {
      display: none !important;
    }
    .header_end {
      display: none !important;
    }

    .header_resp {
      // display: block !important;
      width: 100%;
      display: flex !important;
      align-items: center;
      justify-content: space-between !important;

      .phone_menu {
        .header_resp_list_item_link {
          display: flex;
          align-items: center;
          column-gap: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 325px) {
  .header_resp {

    .icon_input {

      .logo{
        a{
          img{
            width: 40px !important;
          }
        }
      }
      .search_box {
        position: relative;
        top: -10px;
        left: 70px;
        input {
          display: none;
        }
      }
    }
    .phone_menu {
      .header_resp_list_item_link {
        span {
          display: none;
        }
      }
    }
  }
}
